@media (min-width: 979px) {
	body {
        margin-top:100px;
    }
    .card-ani {
        width: 15rem;
	}
	.card-img-top-ani{
        width:9em;
	}
	.footer-dark {
		margin-bottom:0px;
		margin-top:55px;
		bottom:0;
	}
	
}

@media (max-width: 978px) {
	.container {
	 padding:0;
	 margin:0;
	 padding-left:15px;
	 padding-right:15px;
	}
      
    body {
        padding-left:0px;
        padding-right:0px;
     padding-top:100px;
     padding-bottom:0px;
    }
  
  	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
  	  margin-bottom:0;
      }
      .card {
        width: 22.7rem;
    }
    .card-img-top-ani{
        width:21em;
    }
    table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
    }
    .im404{
        width:22.5em;
	}
	
	.footer-dark {
		margin-bottom:0px;
		margin-top:55px;
		bottom:0;
	}

}